  #main
  {
    min-width: 960px;
    min-height: 540px;
    width:98vw;
    height:95vh;
  }
  #header
  {
    width:100%;
    height:25%;
    background-color:#A1D391;
  }
  #headerMonogram
  {
    float:left;
    height:100%;
    width:10%;
  }
  #monogram
  {
    float:left;
    max-height:100%;
    padding-left:1%;
    padding-right:5%;
  }
  #headerInitials
  {
    float:left;
    height:100%;
    width:10%;
  }
  #headerName
  {
    height:100%;
    /*line-height: 4vw;*/
    font-size: 4vw;
    float:left;
    font-family:arial;
    display:flex;
    align-items:center;
  }
  #headerName p
  {
    margin:0;
  }
  #headerMenu
  {
    float:right;
    height:50%;
    width:30%;
    /*padding-top:25%;*/
  }
  .headerMenuItem
  {
    height:100%;
    float:right;
  }
  .headerMenuFlag
  {
    max-height:100%;
    margin: 25% 25% 0% 0%;
    opacity: 0.7;
    text-align:center;
  }
  #content
  {
    width:100%;
    height:75%;
  }
  #contentLeft
  {
    float:left;
    width:40%;
    height:100%;
    background-color:#6FAE5B;
  }
  #contentRight
  {
    float:left;
    width:60%;
    height:100%;
    background-color:#2F701B;
  }
  #contentRightMenu
  {
    width:100%;
    height:10%;
    background-color:#164C05;
  }
  .contentRightMenuItem
  {
    float:left;
    width:14%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: arial;
    color:white;
    cursor:default;
    font-size: 15px;
    line-height:10px;
  }
  .contentRightMenuItem:hover
  {
    background-color:rgba(255, 255, 255, 0.5) !important;
  }
  #contentRightMenuAbout
  {
    margin-left: 1%;
  }
  .contentRightSubpage
  {
    width:95%;
    height:85%;
    padding-top: 5%;
    padding-left: 5%;
    float"right;
  }
  .contentRightSubpage
  {
    display:none;
  }
  #contentRightAbout
  {
    display:block;
  }
  #contentRightExperience
  {
    display:none;
  }
  #contentRightEducation
  {
    display:none;
  }
  #contentRightCourses
  {
    display:none;
  }
  #contentRightComputerSkills
  {
    display:none;
  }
  #contentRightSkills
  {
    display:none;
  }
  #contentRightHobby
  {
    display:none;
  }
